* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: #f5f6f7;
}

.icon {
  padding: 50px;
  transition: all 0.2s ease-in-out;
  /* backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; */
}

.icon:hover {
  transform: scale(1.15);
}

p {
  font-size: calc(13px + 0.5vmax);
}
